app/code/local/Ecomatic/Collectorbank/etc/wsdl/InvoiceServiceProduction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="InvoiceServiceV31" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://schemas.ecommerce.collector.se/v30/InvoiceService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="BasicHttpBinding_IInvoiceServiceV31_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:import namespace="http://schemas.ecommerce.collector.se/v30/InvoiceService" location="https://ecommerce.collector.se/v3.0/InvoiceServiceV31.svc?wsdl=wsdl0"/>
    <wsdl:types/>
    <wsdl:binding name="BasicHttpBinding_IInvoiceServiceV31" type="i0:IInvoiceServiceV31">
        <wsp:PolicyReference URI="#BasicHttpBinding_IInvoiceServiceV31_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SetReservation">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/SetReservation" style="document"/>
            <wsdl:input name="SetReservationRequest">
                <soap:header message="i0:SetReservationRequest_Headers" part="ClientIpAddress" use="literal"/>
                <soap:header message="i0:SetReservationRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:SetReservationRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SetReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelReservation">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/CancelReservation" style="document"/>
            <wsdl:input name="CancelReservationRequest">
                <soap:header message="i0:CancelReservationRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:CancelReservationRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReservation">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/GetReservation" style="document"/>
            <wsdl:input name="GetReservationRequest">
                <soap:header message="i0:GetReservationRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:GetReservationRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetReservationResponseV31">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAddress">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/GetAddress" style="document"/>
            <wsdl:input name="GetAddressRequest">
                <soap:header message="i0:GetAddressRequest_Headers" part="ClientIpAddress" use="literal"/>
                <soap:header message="i0:GetAddressRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:GetAddressRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAddressResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/AddInvoice" style="document"/>
            <wsdl:input name="AddInvoiceRequest">
                <soap:header message="i0:AddInvoiceRequest_Headers" part="ClientIpAddress" use="literal"/>
                <soap:header message="i0:AddInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:AddInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AddInvoiceResponseV31">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/CancelInvoice" style="document"/>
            <wsdl:input name="CancelInvoiceRequest">
                <soap:header message="i0:CancelInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:CancelInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CancelInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ActivateInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/ActivateInvoice" style="document"/>
            <wsdl:input name="ActivateInvoiceRequest">
                <soap:header message="i0:ActivateInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:ActivateInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ActivateInvoiceResponseV31">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PartActivateInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/PartActivateInvoice" style="document"/>
            <wsdl:input name="PartActivateInvoiceRequest">
                <soap:header message="i0:PartActivateInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:PartActivateInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PartActivateInvoiceResponseV31">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreditInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/CreditInvoice" style="document"/>
            <wsdl:input name="CreditInvoiceRequest">
                <soap:header message="i0:CreditInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:CreditInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreditInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PartCreditInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/PartCreditInvoice" style="document"/>
            <wsdl:input name="PartCreditInvoiceRequest">
                <soap:header message="i0:PartCreditInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:PartCreditInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PartCreditInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AdjustInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/AdjustInvoice" style="document"/>
            <wsdl:input name="AdjustInvoiceRequest">
                <soap:header message="i0:AdjustInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:AdjustInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AdjustInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExtendDueDate">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/ExtendDueDate" style="document"/>
            <wsdl:input name="ExtendDueDateRequest">
                <soap:header message="i0:ExtendDueDateRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:ExtendDueDateRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExtendDueDateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReplaceInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/ReplaceInvoice" style="document"/>
            <wsdl:input name="ReplaceInvoiceRequest">
                <soap:header message="i0:ReplaceInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:ReplaceInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReplaceInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendInvoice">
            <soap:operation soapAction="http://schemas.ecommerce.collector.se/v30/InvoiceService/IInvoiceServiceV31/SendInvoice" style="document"/>
            <wsdl:input name="SendInvoiceRequest">
                <soap:header message="i0:SendInvoiceRequest_Headers" part="Password" use="literal"/>
                <soap:header message="i0:SendInvoiceRequest_Headers" part="Username" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SendInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InvoiceServiceV31">
        <wsdl:port name="BasicHttpBinding_IInvoiceServiceV31" binding="tns:BasicHttpBinding_IInvoiceServiceV31">
            <soap:address location="https://ecommerce.collector.se/v3.0/InvoiceServiceV31.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>